In [21]:
import pandas as pd
import numpy as np
df= pd.read_csv("paquete_premium_202011.csv")

In [22]:
df.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,4572266,202011,1,0,0,48,98,-335.81,44318.28,-460.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA
1,4572285,202011,1,0,0,61,298,912.89,19300.64,1152.71,...,5.0,0.0,-40246.30,0.00,7805.0,14024.82,12.0,0.0,1977.3,CONTINUA
2,4572379,202011,1,0,0,68,318,1042.94,24318.78,1762.04,...,5.0,0.0,-25698.62,0.00,8660.0,9679.35,3.0,0.0,1778.4,CONTINUA
3,4572571,202011,1,0,0,48,172,1956.49,32177.44,459.72,...,5.0,0.0,-9111.91,0.00,5235.0,7220.38,5.0,0.0,0.0,CONTINUA
4,4572624,202011,1,0,0,58,318,2719.41,65947.67,3059.81,...,5.0,0.0,-41254.58,17.55,3968.0,33959.27,8.0,0.0,3065.4,CONTINUA

In [221]:
df['clase_ternaria'].value_counts()

CONTINUA    236866
BAJA+2         975
BAJA+1         767
Name: clase_ternaria, dtype: int64

In [23]:
df.describe()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
count,2.386080e+05,238608.0,238608.000000,238608.000000,238608.000000,238608.000000,238608.000000,238608.000000,2.386080e+05,238608.000000,...,205336.000000,228252.000000,2.284140e+05,2.053360e+05,205336.000000,228414.000000,2.053360e+05,205336.000000,205336.000000,2.284140e+05
mean,2.608369e+07,202011.0,0.982482,0.005042,0.036784,46.563372,131.512099,1916.708176,2.536649e+04,1207.184050,...,0.094418,9.309281,8.846479e+03,-3.124295e+04,8.060476,3129.486857,2.086571e+04,8.090510,0.008318,5.328208e+03
std,1.346729e+07,0.0,0.131192,0.070826,0.234295,12.971897,85.787819,7132.754731,6.731096e+04,2314.540263,...,10.596306,60.070255,2.949031e+04,4.854197e+04,136.838016,2211.775092,4.187314e+04,9.551612,0.188600,1.785410e+04
min,4.572266e+06,202011.0,0.000000,0.000000,0.000000,18.000000,1.000000,-258660.600000,-2.706409e+06,-72266.180000,...,0.000000,5.000000,0.000000e+00,-2.466152e+06,0.000000,1.000000,-5.450938e+04,0.000000,0.000000,0.000000e+00
25%,1.570239e+07,202011.0,1.000000,0.000000,0.000000,37.000000,60.000000,24.047500,3.368090e+03,241.560000,...,0.000000,5.000000,0.000000e+00,-3.804004e+04,0.000000,1325.250000,2.195585e+03,2.000000,0.000000,3.510000e+02
50%,2.448974e+07,202011.0,1.000000,0.000000,0.000000,45.000000,123.000000,1017.160000,1.403474e+04,774.070000,...,0.000000,5.000000,0.000000e+00,-1.837922e+04,0.000000,2815.000000,9.112115e+03,5.000000,0.000000,1.731600e+03
75%,3.564870e+07,202011.0,1.000000,0.000000,0.000000,55.000000,185.000000,2538.577500,3.120881e+04,1684.745000,...,0.000000,12.000000,1.306755e+03,-7.663608e+03,0.000000,4683.000000,2.482462e+04,11.000000,0.000000,4.563000e+03
max,6.144667e+07,202011.0,1.000000,1.000000,4.000000,104.000000,477.000000,552485.090000,1.093394e+07,330823.240000,...,1977.000000,6242.000000,2.056466e+06,7.443537e+04,17672.490000,12524.000000,6.437835e+06,173.000000,12.000000,1.918040e+06

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238608 entries, 0 to 238607
Columns: 159 entries, numero_de_cliente to clase_ternaria
dtypes: float64(90), int64(68), object(1)
memory usage: 289.4+ MB

In [25]:
print (df.columns)

Index(['numero_de_cliente', 'foto_mes', 'active_quarter', 'cliente_vip',
       'internet', 'cliente_edad', 'cliente_antiguedad', 'mrentabilidad',
       'mrentabilidad_annual', 'mcomisiones',
       ...
       'Visa_fultimo_cierre', 'Visa_mpagado', 'Visa_mpagospesos',
       'Visa_mpagosdolares', 'Visa_fechaalta', 'Visa_mconsumototal',
       'Visa_cconsumos', 'Visa_cadelantosefectivo', 'Visa_mpagominimo',
       'clase_ternaria'],
      dtype='object', length=159)

In [26]:
df.info(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238608 entries, 0 to 238607
Data columns (total 159 columns):
 #    Column                                Dtype
---   ------                                -----
 0    numero_de_cliente                     int64
 1    foto_mes                              int64
 2    active_quarter                        int64
 3    cliente_vip                           int64
 4    internet                              int64
 5    cliente_edad                          int64
 6    cliente_antiguedad                    int64
 7    mrentabilidad                         float64
 8    mrentabilidad_annual                  float64
 9    mcomisiones                           float64
 10   mactivos_margen                       float64
 11   mpasivos_margen                       float64
 12   cproductos                            int64
 13   tpaquete1                             int64
 14   tpaquete2                             int64
 15   tpaquete3                             int64
 16   tpaquete4                             int64
 17   tcuentas                              int64
 18   ccuenta_corriente                     int64
 19   mcuenta_corriente_adicional           float64
 20   mcuenta_corriente                     float64
 21   ccaja_ahorro                          int64
 22   mcaja_ahorro                          float64
 23   mcaja_ahorro_adicional                float64
 24   mcaja_ahorro_dolares                  float64
 25   mdescubierto_preacordado              float64
 26   mcuentas_saldo                        float64
 27   ctarjeta_debito                       int64
 28   ctarjeta_debito_transacciones         int64
 29   mautoservicio                         float64
 30   ctarjeta_visa                         int64
 31   ctarjeta_visa_transacciones           int64
 32   mtarjeta_visa_consumo                 float64
 33   ctarjeta_master                       int64
 34   ctarjeta_master_transacciones         int64
 35   mtarjeta_master_consumo               float64
 36   cprestamos_personales                 int64
 37   mprestamos_personales                 float64
 38   cprestamos_prendarios                 int64
 39   mprestamos_prendarios                 float64
 40   cprestamos_hipotecarios               int64
 41   mprestamos_hipotecarios               float64
 42   cplazo_fijo                           int64
 43   mplazo_fijo_dolares                   float64
 44   mplazo_fijo_pesos                     float64
 45   cinversion1                           int64
 46   minversion1_pesos                     float64
 47   minversion1_dolares                   float64
 48   cinversion2                           int64
 49   minversion2                           float64
 50   cseguro_vida                          int64
 51   cseguro_auto                          int64
 52   cseguro_vivienda                      int64
 53   cseguro_accidentes_personales         int64
 54   ccaja_seguridad                       int64
 55   cpayroll_trx                          int64
 56   mpayroll                              float64
 57   mpayroll2                             float64
 58   cpayroll2_trx                         int64
 59   ccuenta_debitos_automaticos           int64
 60   mcuenta_debitos_automaticos           float64
 61   ctarjeta_visa_debitos_automaticos     int64
 62   mttarjeta_visa_debitos_automaticos    float64
 63   ctarjeta_master_debitos_automaticos   int64
 64   mttarjeta_master_debitos_automaticos  float64
 65   cpagodeservicios                      int64
 66   mpagodeservicios                      float64
 67   cpagomiscuentas                       int64
 68   mpagomiscuentas                       float64
 69   ccajeros_propios_descuentos           int64
 70   mcajeros_propios_descuentos           float64
 71   ctarjeta_visa_descuentos              int64
 72   mtarjeta_visa_descuentos              float64
 73   ctarjeta_master_descuentos            int64
 74   mtarjeta_master_descuentos            float64
 75   ccomisiones_mantenimiento             int64
 76   mcomisiones_mantenimiento             float64
 77   ccomisiones_otras                     int64
 78   mcomisiones_otras                     float64
 79   cforex                                int64
 80   cforex_buy                            int64
 81   mforex_buy                            float64
 82   cforex_sell                           int64
 83   mforex_sell                           float64
 84   ctransferencias_recibidas             int64
 85   mtransferencias_recibidas             float64
 86   ctransferencias_emitidas              int64
 87   mtransferencias_emitidas              float64
 88   cextraccion_autoservicio              int64
 89   mextraccion_autoservicio              float64
 90   ccheques_depositados                  int64
 91   mcheques_depositados                  float64
 92   ccheques_emitidos                     int64
 93   mcheques_emitidos                     float64
 94   ccheques_depositados_rechazados       int64
 95   mcheques_depositados_rechazados       float64
 96   ccheques_emitidos_rechazados          int64
 97   mcheques_emitidos_rechazados          float64
 98   tcallcenter                           int64
 99   ccallcenter_transacciones             int64
 100  thomebanking                          int64
 101  chomebanking_transacciones            int64
 102  ccajas_transacciones                  int64
 103  ccajas_consultas                      int64
 104  ccajas_depositos                      int64
 105  ccajas_extracciones                   int64
 106  ccajas_otras                          int64
 107  catm_trx                              int64
 108  matm                                  float64
 109  catm_trx_other                        int64
 110  matm_other                            float64
 111  ctrx_quarter                          int64
 112  tmobile_app                           int64
 113  cmobile_app_trx                       int64
 114  Master_delinquency                    float64
 115  Master_status                         float64
 116  Master_mfinanciacion_limite           float64
 117  Master_Fvencimiento                   float64
 118  Master_Finiciomora                    float64
 119  Master_msaldototal                    float64
 120  Master_msaldopesos                    float64
 121  Master_msaldodolares                  float64
 122  Master_mconsumospesos                 float64
 123  Master_mconsumosdolares               float64
 124  Master_mlimitecompra                  float64
 125  Master_madelantopesos                 float64
 126  Master_madelantodolares               float64
 127  Master_fultimo_cierre                 float64
 128  Master_mpagado                        float64
 129  Master_mpagospesos                    float64
 130  Master_mpagosdolares                  float64
 131  Master_fechaalta                      float64
 132  Master_mconsumototal                  float64
 133  Master_cconsumos                      float64
 134  Master_cadelantosefectivo             float64
 135  Master_mpagominimo                    float64
 136  Visa_delinquency                      float64
 137  Visa_status                           float64
 138  Visa_mfinanciacion_limite             float64
 139  Visa_Fvencimiento                     float64
 140  Visa_Finiciomora                      float64
 141  Visa_msaldototal                      float64
 142  Visa_msaldopesos                      float64
 143  Visa_msaldodolares                    float64
 144  Visa_mconsumospesos                   float64
 145  Visa_mconsumosdolares                 float64
 146  Visa_mlimitecompra                    float64
 147  Visa_madelantopesos                   float64
 148  Visa_madelantodolares                 float64
 149  Visa_fultimo_cierre                   float64
 150  Visa_mpagado                          float64
 151  Visa_mpagospesos                      float64
 152  Visa_mpagosdolares                    float64
 153  Visa_fechaalta                        float64
 154  Visa_mconsumototal                    float64
 155  Visa_cconsumos                        float64
 156  Visa_cadelantosefectivo               float64
 157  Visa_mpagominimo                      float64
 158  clase_ternaria                        object
dtypes: float64(90), int64(68), object(1)
memory usage: 289.4+ MB

In [27]:
df_dummy1= pd.get_dummies(df['clase_ternaria'])

In [28]:
df_dummy1.head()

   BAJA+1  BAJA+2  CONTINUA
0       0       0         1
1       0       0         1
2       0       0         1
3       0       0         1
4       0       0         1

In [29]:
df=pd.concat([df, df_dummy1], axis=1)

In [30]:
df.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria,BAJA+1,BAJA+2,CONTINUA
0,4572266,202011,1,0,0,48,98,-335.81,44318.28,-460.93,...,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA,0,0,1
1,4572285,202011,1,0,0,61,298,912.89,19300.64,1152.71,...,0.00,7805.0,14024.82,12.0,0.0,1977.3,CONTINUA,0,0,1
2,4572379,202011,1,0,0,68,318,1042.94,24318.78,1762.04,...,0.00,8660.0,9679.35,3.0,0.0,1778.4,CONTINUA,0,0,1
3,4572571,202011,1,0,0,48,172,1956.49,32177.44,459.72,...,0.00,5235.0,7220.38,5.0,0.0,0.0,CONTINUA,0,0,1
4,4572624,202011,1,0,0,58,318,2719.41,65947.67,3059.81,...,17.55,3968.0,33959.27,8.0,0.0,3065.4,CONTINUA,0,0,1

In [105]:
df_1=df.drop(['numero_de_cliente','foto_mes','clase_ternaria','BAJA+1','CONTINUA'], axis=1)

In [106]:
df_1=df_1.fillna(0)

In [107]:
df_1.head()

,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,mactivos_margen,mpasivos_margen,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,BAJA+2
0,1,0,0,48,98,-335.81,44318.28,-460.93,-24.84,131.78,...,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0
1,1,0,0,61,298,912.89,19300.64,1152.71,-789.18,584.20,...,5.0,0.0,-40246.30,0.00,7805.0,14024.82,12.0,0.0,1977.3,0
2,1,0,0,68,318,1042.94,24318.78,1762.04,-1694.90,1080.29,...,5.0,0.0,-25698.62,0.00,8660.0,9679.35,3.0,0.0,1778.4,0
3,1,0,0,48,172,1956.49,32177.44,459.72,-748.27,2027.56,...,5.0,0.0,-9111.91,0.00,5235.0,7220.38,5.0,0.0,0.0,0
4,1,0,0,58,318,2719.41,65947.67,3059.81,-1543.54,1252.60,...,5.0,0.0,-41254.58,17.55,3968.0,33959.27,8.0,0.0,3065.4,0

In [72]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFE
from sklearn.feature_selection import SelectKBest
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression

In [108]:
X=df_1.drop(['BAJA+2'], axis=1)

In [109]:
X.head()

,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,mactivos_margen,mpasivos_margen,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,1,0,0,48,98,-335.81,44318.28,-460.93,-24.84,131.78,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0
1,1,0,0,61,298,912.89,19300.64,1152.71,-789.18,584.20,...,0.0,5.0,0.0,-40246.30,0.00,7805.0,14024.82,12.0,0.0,1977.3
2,1,0,0,68,318,1042.94,24318.78,1762.04,-1694.90,1080.29,...,0.0,5.0,0.0,-25698.62,0.00,8660.0,9679.35,3.0,0.0,1778.4
3,1,0,0,48,172,1956.49,32177.44,459.72,-748.27,2027.56,...,0.0,5.0,0.0,-9111.91,0.00,5235.0,7220.38,5.0,0.0,0.0
4,1,0,0,58,318,2719.41,65947.67,3059.81,-1543.54,1252.60,...,0.0,5.0,0.0,-41254.58,17.55,3968.0,33959.27,8.0,0.0,3065.4

In [110]:
y= df_1["BAJA+2"]

In [163]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: BAJA+2, dtype: uint8

In [112]:
#hago el grid search
#params de DecTreeClass
parameter_grid_dtc= {
    "max_depth": [5,10,20,25,50,80],
    "max_features": [0.3, 0.5, 1],
    "min_samples_split": [5,20,50,100,150, 300]
}
grid_search_dtc= GridSearchCV(DecisionTreeClassifier(random_state=0), parameter_grid_dtc, cv=3, verbose=3, refit=True, n_jobs=-1, scoring="neg_mean_squared_error")

In [113]:
#entreno el arbol
grid_search_dtc.fit(X,y)

Fitting 3 folds for each of 108 candidates, totalling 324 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:   15.8s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 324 out of 324 | elapsed:  5.9min finished

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=0), n_jobs=-1,
             param_grid={'max_depth': [5, 10, 20, 25, 50, 80],
                         'max_features': [0.3, 0.5, 1],
                         'min_samples_split': [5, 20, 50, 100, 150, 300]},
             scoring='neg_mean_squared_error', verbose=3)

In [114]:
grid_search_dtc.best_estimator_

DecisionTreeClassifier(max_depth=5, max_features=0.3, min_samples_split=50,
                       random_state=0)

In [115]:
grid_search_dtc.best_params_

{'max_depth': 5, 'max_features': 0.3, 'min_samples_split': 50}

In [116]:
grid_search_dtc.best_score_

-0.004090390934084356

In [141]:
#entreno el mejor arbol de acuerdo a gridsearch
d_tree= DecisionTreeClassifier(max_depth=5, min_samples_split=50, random_state=0)
d_tree.fit(X,y) #base train

DecisionTreeClassifier(max_depth=5, min_samples_split=50, random_state=0)

In [118]:
df_test=pd.read_csv("paquete_premium_202101.csv")

In [119]:
df_test.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,4572266,202101,1,0,0,48,100,-383.73,33773.85,-514.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4572285,202101,1,0,0,61,300,1660.68,17948.38,1601.70,...,4.0,0.0,-37004.02,0.00,7867.0,118211.78,10.0,0.0,76342.5,NaN
2,4572379,202101,1,0,0,68,320,3235.56,19929.38,1765.51,...,4.0,0.0,-13339.61,0.00,8722.0,8548.18,3.0,0.0,1965.6,NaN
3,4572571,202101,1,0,0,48,174,19280.75,32323.09,17917.61,...,4.0,0.0,-14301.55,0.00,5297.0,7329.86,3.0,0.0,1205.1,NaN
4,4572624,202101,1,0,0,59,320,30685.89,68812.27,32373.32,...,4.0,0.0,-56121.91,1.24,4030.0,31974.89,8.0,0.0,2597.4,NaN

In [123]:
Id=df_test['numero_de_cliente']

In [124]:
Id

0          4572266
1          4572285
2          4572379
3          4572571
4          4572624
            ...
240331    61703029
240332    61994836
240333    61995671
240334    61995910
240335    61999479
Name: numero_de_cliente, Length: 240336, dtype: int64

In [125]:
df_test=df_test.drop(['numero_de_cliente','foto_mes','clase_ternaria'], axis=1)

In [126]:
df_test=df_test.fillna(0)

In [127]:
df_test.head()

,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,mactivos_margen,mpasivos_margen,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,1,0,0,48,100,-383.73,33773.85,-514.21,-19.82,131.34,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0
1,1,0,0,61,300,1660.68,17948.38,1601.70,-312.22,362.63,...,0.0,4.0,0.0,-37004.02,0.00,7867.0,118211.78,10.0,0.0,76342.5
2,1,0,0,68,320,3235.56,19929.38,1765.51,-1466.18,2722.63,...,0.0,4.0,0.0,-13339.61,0.00,8722.0,8548.18,3.0,0.0,1965.6
3,1,0,0,48,174,19280.75,32323.09,17917.61,-618.98,1784.06,...,0.0,4.0,0.0,-14301.55,0.00,5297.0,7329.86,3.0,0.0,1205.1
4,1,0,0,59,320,30685.89,68812.27,32373.32,-4944.83,3502.58,...,0.0,4.0,0.0,-56121.91,1.24,4030.0,31974.89,8.0,0.0,2597.4

In [128]:
X_test=df_test

In [142]:
#genero predicciones
pred_d_tree=pd.DataFrame(d_tree.predict(X_test))

In [143]:
pred_d_tree.head()

   0
0  0
1  0
2  0
3  0
4  0

In [144]:
pred_d_tree.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240336 entries, 0 to 240335
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       240336 non-null  uint8
dtypes: uint8(1)
memory usage: 234.8 KB

In [147]:
#genero ds con predicciones
entrega= pd.concat([Id,pred_d_tree], axis=1)
entrega.columns=['numero_de_cliente','predicted']

In [150]:
entrega.tail(100)

        numero_de_cliente  predicted
240236           61454730          0
240237           61455503          0
240238           61457111          0
240239           61458852          0
240240           61460718          0
...                   ...        ...
240331           61703029          0
240332           61994836          0
240333           61995671          0
240334           61995910          0
240335           61999479          0

[100 rows x 2 columns]

In [151]:
entrega['predicted'].value_counts()

0    240317
1        19
Name: predicted, dtype: int64

In [ ]:
#XGBOOST

In [134]:
!pip install xgboost
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

Collecting xgboost
  Downloading xgboost-1.4.2-py3-none-win_amd64.whl (97.8 MB)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from xgboost) (1.20.3)
Requirement already satisfied: scipy in c:\users\user\anaconda3\lib\site-packages (from xgboost) (1.5.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.4.2

In [136]:
dmatrix = xgb.DMatrix(data=X, label=y)

In [137]:
params={'objective':'reg:squarederror'}
cv_results = xgb.cv(dtrain=dmatrix, params=params, nfold=10, metrics={'rmse'}, as_pandas=True, seed=20)

In [138]:
print('RMSE: %.2f' % cv_results['test-rmse-mean'].min())

RMSE: 0.06

In [140]:
#con hiperparametros
params={ 'objective':'reg:squarederror',
         'max_depth': 6, 
         'colsample_bylevel':0.5,
         'learning_rate':0.01,
         'random_state':20}
cv_results = xgb.cv(dtrain=dmatrix, params=params, nfold=10, metrics={'rmse'}, as_pandas=True, seed=20, num_boost_round=100)
print('RMSE: %.2f' % cv_results['test-rmse-mean'].min())

RMSE: 0.19

In [166]:
#log regression primero entrenamos
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()

In [167]:
X_scaled= scaler.fit_transform(X)

In [168]:
X_scaled

array([[ 0.1335314 , -0.0711849 , -0.15699965, ..., -0.74917823,
        -0.04090838, -0.29143275],
       [ 0.1335314 , -0.0711849 , -0.15699965, ...,  0.54207193,
        -0.04090838, -0.17845524],
       [ 0.1335314 , -0.0711849 , -0.15699965, ..., -0.42636569,
        -0.04090838, -0.18981984],
       ...,
       [-7.48887532, -0.0711849 , -0.15699965, ..., -0.74917823,
        -0.04090838, -0.29143275],
       [ 0.1335314 , -0.0711849 , -0.15699965, ..., -0.74917823,
        -0.04090838, -0.29143275],
       [-7.48887532, -0.0711849 , -0.15699965, ..., -0.74917823,
        -0.04090838, -0.29143275]])

In [170]:
X_scaled=pd.DataFrame(X_scaled, columns=X.columns)

In [171]:
logistic_regression =  LogisticRegression(solver='lbfgs', max_iter=1000)

logistic_regression.fit(X_scaled, y)

LogisticRegression(max_iter=1000)

In [172]:
X_test_scaled= scaler.fit_transform(X_test)

In [173]:
X_test_scaled

array([[ 0.12521482, -0.07154677, -0.15725643, ..., -0.73835474,
        -0.03426597, -0.27742701],
       [ 0.12521482, -0.07154677, -0.15725643, ...,  0.28432962,
        -0.03426597,  3.09703805],
       [ 0.12521482, -0.07154677, -0.15725643, ..., -0.43154943,
        -0.03426597, -0.19054423],
       ...,
       [ 0.12521482, -0.07154677, -0.15725643, ..., -0.73835474,
        -0.03426597, -0.27742701],
       [-7.98627529, -0.07154677, -0.15725643, ..., -0.73835474,
        -0.03426597, -0.27742701],
       [ 0.12521482, -0.07154677, -0.15725643, ..., -0.73835474,
        -0.03426597, -0.27742701]])

In [174]:
X_test_scaled=pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [175]:
X_test_scaled.head()

,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,mactivos_margen,mpasivos_margen,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,0.125215,-0.071547,-0.157256,0.104540,-0.379951,-0.341566,0.129198,-0.536722,0.263775,-0.336197,...,-0.006457,-1.154495,-0.294551,0.587388,-0.064937,-1.332948,-0.408919,-0.738355,-0.034266,-0.277427
1,0.125215,-0.071547,-0.157256,1.106152,1.947053,-0.106926,-0.100623,-0.095511,0.201773,-0.287220,...,-0.006457,-0.454720,-0.294551,-0.048855,-0.064937,2.137942,2.163544,0.284330,-0.034266,3.097038
2,0.125215,-0.071547,-0.157256,1.645482,2.179753,0.073825,-0.071855,-0.061353,-0.042917,0.212525,...,-0.006457,-0.454720,-0.294551,0.358028,-0.064937,2.515165,-0.222898,-0.431549,-0.034266,-0.190544
3,0.125215,-0.071547,-0.157256,0.104540,0.481041,1.915351,0.108130,3.306695,0.136727,0.013777,...,-0.006457,-0.454720,-0.294551,0.341489,-0.064937,1.004068,-0.249411,-0.431549,-0.034266,-0.224160
4,0.125215,-0.071547,-0.157256,0.952058,2.179753,3.224333,0.638036,6.321010,-0.780543,0.377684,...,-0.006457,-0.454720,-0.294551,-0.377566,-0.056686,0.445072,0.286902,0.079793,-0.034266,-0.162618

In [184]:
prediccionlog= logistic_regression.predict(X_test_scaled)

In [185]:
prediccionlog

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [188]:
prediccionlogProba= logistic_regression.predict_proba(X_test_scaled)

In [189]:
prediccionlogProba

array([[9.98799997e-01, 1.20000346e-03],
       [9.99990415e-01, 9.58503936e-06],
       [9.98906476e-01, 1.09352393e-03],
       ...,
       [9.95513988e-01, 4.48601195e-03],
       [9.80087738e-01, 1.99122623e-02],
       [9.70425056e-01, 2.95749443e-02]])

In [222]:
prediccionlogProba=pd.DataFrame(prediccionlogProba)

               0         1
0       0.998800  0.001200
1       0.999990  0.000010
2       0.998906  0.001094
3       0.999574  0.000426
4       0.999984  0.000016
...          ...       ...
240331  0.987229  0.012771
240332  0.983111  0.016889
240333  0.995514  0.004486
240334  0.980088  0.019912
240335  0.970425  0.029575

[240336 rows x 2 columns]

In [178]:
prediccionlog=pd.DataFrame(prediccionlog)

In [179]:
prediccionlog

        0
0       0
1       0
2       0
3       0
4       0
...    ..
240331  0
240332  0
240333  0
240334  0
240335  0

[240336 rows x 1 columns]

In [180]:
#genero ds con predicciones
entrega2= pd.concat([Id,prediccionlog], axis=1)
entrega2.columns=['numero_de_cliente','predicted']

In [181]:
entrega2

        numero_de_cliente  predicted
0                 4572266          0
1                 4572285          0
2                 4572379          0
3                 4572571          0
4                 4572624          0
...                   ...        ...
240331           61703029          0
240332           61994836          0
240333           61995671          0
240334           61995910          0
240335           61999479          0

[240336 rows x 2 columns]

In [182]:
entrega2['predicted'].value_counts()

0    240253
1        83
Name: predicted, dtype: int64

In [190]:
#entreno XGboost
dmatrix = xgb.DMatrix(data=X_scaled, label=y)

In [191]:
params={'objective':'reg:squarederror'}
cv_results = xgb.cv(dtrain=dmatrix, params=params, nfold=10, metrics={'rmse'}, as_pandas=True, seed=20)

In [192]:
print('RMSE: %.2f' % cv_results['test-rmse-mean'].min())

RMSE: 0.06

In [195]:
modxgboost= xgb

In [197]:
prediccionxgb= modxgboost.predict(X_test_scaled)

AttributeError: module 'xgboost' has no attribute 'predict'

In [204]:
dsReg= pd.concat([df['numero_de_cliente'], X_scaled], axis=1)

In [206]:
dsReg= pd.concat([df['BAJA+2'], dsReg], axis=1)

In [208]:
dsReg.info

<bound method DataFrame.info of         BAJA+2  numero_de_cliente  active_quarter  cliente_vip  internet  \
0            0            4572266        0.133531    -0.071185    -0.157
1            0            4572285        0.133531    -0.071185    -0.157
2            0            4572379        0.133531    -0.071185    -0.157
3            0            4572571        0.133531    -0.071185    -0.157
4            0            4572624        0.133531    -0.071185    -0.157
...        ...                ...             ...          ...       ...
238603       0           61443932        0.133531    -0.071185    -0.157
238604       0           61444262        0.133531    -0.071185    -0.157
238605       0           61444909       -7.488875    -0.071185    -0.157
238606       0           61446292        0.133531    -0.071185    -0.157
238607       0           61446672       -7.488875    -0.071185    -0.157

        cliente_edad  cliente_antiguedad  mrentabilidad  mrentabilidad_annual  \
0           0.110750           -0.390640      -0.315800              0.281556
1           1.112918            1.940698      -0.140734             -0.090117
2           1.652547            2.173832      -0.122501             -0.015565
3           0.110750            0.471955       0.005577              0.101187
4           0.881648            2.173832       0.112538              0.602892
...              ...                 ...            ...                   ...
238603     -1.045599           -1.521339      -0.247940             -0.374654
238604     -1.045599           -1.521339      -0.259233             -0.375851
238605     -1.431048           -1.521339      -0.268720             -0.376856
238606     -1.045599           -1.521339      -0.262015             -0.376146
238607     -0.351790           -1.521339      -0.268720             -0.376856

        mcomisiones  ...  Visa_madelantodolares  Visa_fultimo_cierre  \
0         -0.720712  ...              -0.008266            -0.151494
1         -0.023536  ...              -0.008266            -0.066435
2          0.239727  ...              -0.008266            -0.066435
3         -0.322943  ...              -0.008266            -0.066435
4          0.800431  ...              -0.008266            -0.066435
...             ...  ...                    ...                  ...
238603    -0.467417  ...              -0.008266            -0.066435
238604    -0.505226  ...              -0.008266            -0.066435
238605    -0.521566  ...              -0.008266            -0.066435
238606    -0.521566  ...              -0.008266            -0.066435
238607    -0.521566  ...              -0.008266            -0.066435

        Visa_mpagado  Visa_mpagospesos  Visa_mpagosdolares  Visa_fechaalta  \
0          -0.292939          0.580539           -0.054631       -1.328712
1          -0.292939         -0.288472           -0.054631        2.133015
2          -0.292939          0.025646           -0.054631        2.512231
3          -0.292939          0.383791           -0.054631        0.993151
4          -0.292939         -0.310243            0.083591        0.431203
...              ...               ...                 ...             ...
238603     -0.292939          0.580539           -0.054631       -1.319841
238604      0.050142          0.580539           -0.054631       -1.320285
238605     -0.292939          0.580539           -0.054631       -1.326494
238606     -0.292939          0.580539           -0.054631       -1.323389
238607     -0.292939          0.580539           -0.054631       -1.325607

        Visa_mconsumototal  Visa_cconsumos  Visa_cadelantosefectivo  \
0                -0.454462       -0.749178                -0.040908
1                -0.099500        0.542072                -0.040908
2                -0.209482       -0.426366                -0.040908
3                -0.271717       -0.211157                -0.040908
4                 0.405031        0.111655                -0.040908
...                    ...             ...                      ...
238603           -0.454462       -0.749178                -0.040908
238604           -0.454462       -0.749178                -0.040908
238605           -0.454462       -0.749178                -0.040908
238606           -0.454462       -0.749178                -0.040908
238607           -0.454462       -0.749178                -0.040908

        Visa_mpagominimo
0              -0.291433
1              -0.178455
2              -0.189820
3              -0.291433
4              -0.116284
...                  ...
238603         -0.291433
238604         -0.264024
238605         -0.291433
238606         -0.291433
238607         -0.291433

[238608 rows x 158 columns]>

In [210]:
dsRegtest= pd.concat([Id, X_test_scaled], axis=1)

In [214]:
dsRegtest

,numero_de_cliente,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,mactivos_margen,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,4572266,0.125215,-0.071547,-0.157256,0.104540,-0.379951,-0.341566,0.129198,-0.536722,0.263775,...,-1.154495,-0.294551,0.587388,-0.064937,-1.332948,-0.408919,-0.738355,-0.034266,-0.277427,False
1,4572285,0.125215,-0.071547,-0.157256,1.106152,1.947053,-0.106926,-0.100623,-0.095511,0.201773,...,-0.454720,-0.294551,-0.048855,-0.064937,2.137942,2.163544,0.284330,-0.034266,3.097038,False
2,4572379,0.125215,-0.071547,-0.157256,1.645482,2.179753,0.073825,-0.071855,-0.061353,-0.042917,...,-0.454720,-0.294551,0.358028,-0.064937,2.515165,-0.222898,-0.431549,-0.034266,-0.190544,False
3,4572571,0.125215,-0.071547,-0.157256,0.104540,0.481041,1.915351,0.108130,3.306695,0.136727,...,-0.454720,-0.294551,0.341489,-0.064937,1.004068,-0.249411,-0.431549,-0.034266,-0.224160,False
4,4572624,0.125215,-0.071547,-0.157256,0.952058,2.179753,3.224333,0.638036,6.321010,-0.780543,...,-0.454720,-0.294551,-0.377566,-0.056686,0.445072,0.286902,0.079793,-0.034266,-0.162618,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240331,61703029,-7.986275,-0.071547,-0.157256,-1.128213,-1.531817,-0.249406,-0.355186,-0.429498,0.267978,...,-0.454720,-0.294551,0.587388,-0.064937,-1.324566,-0.408919,-0.738355,-0.034266,-0.277427,NaN
240332,61994836,-7.986275,-0.071547,-0.157256,-1.513448,-1.531817,-0.297525,-0.361275,-0.429498,0.267978,...,-0.454720,-0.294551,0.587388,-0.064937,-1.327654,-0.408919,-0.738355,-0.034266,-0.277427,NaN
240333,61995671,0.125215,-0.071547,-0.157256,0.104540,-1.531817,-0.067719,-0.332197,-0.429498,0.268355,...,-0.454720,-0.294551,0.587388,-0.064937,-1.324566,-0.408919,-0.738355,-0.034266,-0.277427,NaN
240334,61995910,-7.986275,-0.071547,-0.157256,-0.511836,-1.531817,-0.297525,-0.361275,-0.429498,0.267978,...,-0.454720,-0.294551,0.587388,-0.064937,-1.325448,-0.408919,-0.738355,-0.034266,-0.277427,NaN
240335,61999479,0.125215,-0.071547,-0.157256,0.797964,-1.531817,-0.287856,-0.360051,-0.429498,0.267988,...,-0.454720,-0.294551,0.587388,-0.064937,-1.328536,-0.408919,-0.738355,-0.034266,-0.277427,NaN

In [213]:
dsRegtest['clase_ternaria']= df['clase_ternaria']==2

In [215]:
dsReg.to_csv('dsReg.csv', index=False)

In [216]:
dsRegtest.to_csv('dsRegtest.csv', index=False)

In [230]:
prediccionlogProba.to_csv('prediccionlogProba.csv', index=False)